/* Estilo general para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
    background-color: #f9f9f9;
    line-height: 1.6;
}

/* Encabezados */
h1 {
    color: #333;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Formulario de consulta */
form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Etiquetas del formulario */
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Campos de entrada */
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

/* Botones */
button[type="submit"], .nav-button {
    display: inline-block;
    width: auto;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

button[type="submit"]:hover, .nav-button:hover {
    background-color: #45a049;
}

/* Contenedor de botones */
.button-container {
    text-align: center;
    margin-top: 20px;
}
