body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

p {
    text-align: center;
    color: #555;
    font-size: 16px;
    margin: 10px 0;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Enlace para volver al menú principal */
a.btn-secondary {
    display: block;
    max-width: 200px;
    margin: 20px auto 0;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a.btn-secondary:hover {
    background-color: #45a049;
}
