table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

form {
    margin: 0;
}

/* Botón Guardar con estilo */
.btn-primary {
    background-color: #28a745; /* Verde */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    width: 100%; /* Ajustar tamaño al contenedor */
}

.btn-primary:hover {
    background-color: #218838; /* Verde oscuro */
}
