/* Estilo general para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #333;
    background-color: #f9f9f9;
    line-height: 1.6;
}

/* Encabezados */
h1 {
    color: #444;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Tabla de resultados */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

thead {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 1em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

th {
    text-transform: uppercase;
}

/* Mensaje de no hay resultados */
p {
    text-align: center;
    font-size: 1.2em;
    color: #888;
    margin-top: 20px;
}

/* Botones de navegación */
.button-container {
    text-align: center;
    margin-top: 30px;
}

.nav-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.1s;
}

.nav-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
